Complexity of the algo matters (sometimes!)

In [6]:
import random
np.random.seed(1234)
pd.set_option('max_rows',12)

In [79]:
def create_frame(n, n_groups):
    stamps = pd.date_range('20010101',periods=n,freq='ms')
    random.shuffle(stamps.values)    
    return DataFrame({'name'  : np.random.randint(0,n_groups,size=n),
                      'stamp' : stamps,
                      'value' : np.random.randint(0,n,size=n),
                      'value2' : np.random.randn(n)})

In [92]:
df = create_frame(6,3)
df

   name                   stamp  value    value2
0     0 2001-01-01 00:00:00.002      4  1.049744
1     2 2001-01-01 00:00:00.005      0  0.392345
2     2 2001-01-01 00:00:00.000      0  1.228704
3     2 2001-01-01 00:00:00.004      1 -0.152813
4     2 2001-01-01 00:00:00.001      1  1.160363
5     1 2001-01-01 00:00:00.003      2  1.188313

In [93]:
df.groupby('name').groups

{0: [0], 1: [5], 2: [1, 2, 3, 4]}

In [94]:
df.sort('stamp').groupby('name')['value'].cumcount().sort_index()

0    0
1    3
2    0
3    2
4    1
5    0
dtype: int64

In [129]:
df.groupby('name').stamp.apply(lambda x: x.order().index.to_series()).sortlevel(1)

name
0     0    0
2     1    1
      2    2
      3    3
      4    4
1     5    5
dtype: int64

In [123]:
df.take([1,2,3,4]).stamp.order()

2   2001-01-01 00:00:00.000
4   2001-01-01 00:00:00.001
3   2001-01-01 00:00:00.004
1   2001-01-01 00:00:00.005
Name: stamp, dtype: datetime64[ns]

In [126]:
df.take([1,2,3,4]).stamp.argsort()

1    1
2    3
3    2
4    0
Name: stamp, dtype: int64

In [60]:
for g, grp in df.groupby('name'):
    print g, grp, np.argsort(grp.value)

0    name                   stamp  value
3     0 2001-01-01 00:00:00.007      8 3    0
Name: value, dtype: int64
1    name                   stamp  value
2     1 2001-01-01 00:00:00.000      4
5     1 2001-01-01 00:00:00.003      4
6     1 2001-01-01 00:00:00.004      6
7     1 2001-01-01 00:00:00.009      3
8     1 2001-01-01 00:00:00.002      7
9     1 2001-01-01 00:00:00.001      8 2    3
5    0
6    1
7    2
8    4
9    5
Name: value, dtype: int64
2    name                   stamp  value
0     2 2001-01-01 00:00:00.005      2
1     2 2001-01-01 00:00:00.006      7
4     2 2001-01-01 00:00:00.008      7 0    0
1    1
4    2
Name: value, dtype: int64

In [136]:
pd.describe_option()

display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]

display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]

display.column_space No description available.
    [default: 12] [currently: 12]

display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]

display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]

display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]

display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]

display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See core.format.EngFormatter for an example.
    [default: None] [currently: None]

display.height : int
    Deprecated.
    [default: 60] [currently: 50]
    (Deprecated, use `display.max_rows` instead.)

display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]

display.line_width : int
    Deprecated.
    [default: 80] [currently: 200]
    (Deprecated, use `display.width` instead.)

display.max_categories : int
    This sets the maximum number of categories pandas should output when printing
    out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 50]

display.max_colwidth : int
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output.
    [default: 50] [currently: 50]

display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]

display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions then specified.
    [default: 1690785] [currently: 1690785]

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 50]

display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]

display.memory_usage : bool or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called.
    [default: True] [currently: True]

display.mpl_style : bool
    Setting this to 'default' will modify the rcParams used by matplotlib
    to give plots a more pleasing visual style by default.
    Setting this to None/False restores the values to their initial value.
    [default: None] [currently: None]

display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]

display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]

display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]

display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 7] [currently: 7]

display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]

display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 200]

io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    'xlwt' (the default).
    [default: xlwt] [currently: xlwt]

io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    'openpyxl' (the default).
    [default: openpyxl] [currently: openpyxl]

io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    'xlsxwriter' (the default), 'openpyxl'.
    [default: xlsxwriter] [currently: xlsxwriter]

io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]

io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: True] [currently: True]

mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]

mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]

mode.use_inf_as_null : boolean
    True means treat None, NaN, INF, -INF as null (old way),
    False means None and NaN are null, but INF, -INF are not null
    (new way).
    [default: False] [currently: False]